[submodule "libs/DSharpPlus.VoiceLink"]
	path = libs/DSharpPlus.VoiceLink
	url = https://github.com/OoLunar/DSharpPlus.VoiceLink.git
[submodule "libs/DeepgramSharp"]
	path = libs/DeepgramSharp
	url = https://github.com/OoLunar/DeepgramSharp.git
